<template name="quizGame">
  <div class="quizGamePage">
    {{#if quizExist}}
      <h1>{{title}}</h1>
      <div class="grid-block clickable" id="sel1">{{selection1}}</div>
      <div class="grid-block clickable" id="sel2">{{selection2}}</div>
      <div class="grid-block clickable" id="sel3">{{selection3}}</div>
      <div class="grid-block clickable" id="sel4">{{selection4}}</div>
    {{/if}}
    <button type="button" class="btn btn-primary next">NEXT</button>
  </div>
  <br>
  <div class="refPosts">
  <h2>関連記事</h2>
  	{{#each refPosts}}
  	  {{> postItem}}
  	{{/each}}
  <br>
  <h2>おすすめ記事</h2>
  	{{#each recPosts}}
  	  {{> postItem}}
  	{{/each}}
  </div>
</template>