<template name='header'>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toogle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{pathFor 'postsList'}}">Tag Share</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav">
        {{#if currentUser}}<li class="active"><a href="{{pathFor 'postSubmit'}}">New</a></li>{{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{> loginButtons}} </li><!-- here -->
      </ul>
    </div>
    
  </header>
</template>