<template name="postSubmit">
  <form class="main postForm">
    <!-- URL-->
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
        <input name="url" type="text" value="" placeholder="YOUR URL"/>
        <button type="button" class="btn btn-primary checkUrl">Check</button>
        <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>

    <!-- Title-->
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <textarea name="title" class="title" type="text" value="{{urlTitle}}" placeholder="Name your post"></textarea>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    
    <!-- message-->
    <div class="control-group">
      <label class="control-label" for="message">Message</label>
      <div class="controls">
        <textarea name="message" class="message" type="text" value=""></textarea>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</template>