<template name="postEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
        <input name="url" id="url" type="text" value="{{url}}" placeholder="Your URL" class="form-control"/>
        <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
  
  <!-- Quiz Form-->
  <form class="main quizForm">
    <div class="form-group {{errorClass 'quizTitle'}}">
      <label class="control-label" for="quizTitle">Quiz Title</label>
      <div class="controls">
        <textarea name="quizTitle" class="title" type="text" value="" placeholder="Enter your quiz"></textarea>
        <span class="help-block">{{errorMessage 'quizTitle'}}</span>
      </div>
    </div>
    <!-- Quiz selection1-->
    <div class="form-group {{errorClass 'quizSel1'}}">
      <label class="control-label" for="quizSel1">Selection1</label>
      <div class="controls">
        <textarea name="quizSel1" class="title" type="text" value="" placeholder="Enter a answer option"></textarea>
        <span class="help=block">{{errorMessage 'quizSel1'}}</span>
      </div>
    </div>

    <!-- Quiz selection2-->
    <div class="form-group {{errorClass 'quizSel2'}}">
      <label class="control-label" for="quizSel2">Selection2</label>
      <div class="controls">
        <textarea name="quizSel2" class="title" type="text" value="" placeholder="Enter a answer option"></textarea>
        <span class="help=block">{{errorMessage 'quizSel2'}}</span>
      </div>
    </div>

    <!-- Quiz selection3-->
    <div class="form-group {{errorClass 'quizSel3'}}">
      <label class="control-label" for="quizSel3">Selection3</label>
      <div class="controls">
        <textarea name="quizSel3" class="title" type="text" value="" placeholder="Enter a answer option"></textarea>
        <span class="help=block">{{errorMessage 'quizSel3'}}</span>
      </div>
    </div>

    <!-- Quiz selection4-->
    <div class="form-group {{errorClass 'quizSel4'}}">
      <label class="control-label" for="quizSel4">Selection4</label>
      <div class="controls">
        <textarea name="quizSel4" class="title" type="text" value="" placeholder="Enter a answer option"></textarea>
        <span class="help=block">{{errorMessage 'quizSel4'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'quizAns'}}">
      <label class="control-label">Answer :</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="ansStatus btn btn-default active">
        <input type="radio" name="ansOpt" id="ansOpt" value="sel1" checked>
        1</label>
        <label class="ansStatus btn btn-default">
        <input type="radio" name="ansOpt" id="ansOpt" value="sel2">
        2</label>
        <label class="ansStatus btn btn-default">
        <input type="radio" name="ansOpt" id="ansOpt" value="sel3">
        3</label>
        <label class="ansStatus btn btn-default">
        <input type="radio" name="ansOpt" id="ansOpt" value="sel4">
        4</label>
      </div>
      <span class="help=block">{{errorMessage 'quizAns'}}</span>
    </div>

    <!-- submit button-->
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</template>